Nama : Mahesa Tirta Panjalu <br>
Kode : PYTN-KS18-012

# Soal 1

In [29]:
import pandas as pd

In [33]:
a = pd.Series(list(range(1, 27)), index=[chr(i) for i in range(97, 123)])
a

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

# Soal 2

In [34]:
import numpy as np

In [35]:
angka = pd.Series(np.random.randint(1, 5, 100))
angka

0     4
1     3
2     3
3     1
4     2
     ..
95    1
96    1
97    4
98    1
99    3
Length: 100, dtype: int32

In [36]:
angka.value_counts()

4    32
3    28
1    22
2    18
dtype: int64

In [37]:
angka.head(2)

0    4
1    3
dtype: int32

# Soal 3

In [39]:
import seaborn as sns

In [42]:
data = sns.load_dataset('mpg')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [44]:
data.describe(exclude=[np.number])

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [46]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [49]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

# Soal 4

In [53]:
data[data['horsepower'].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [54]:
data[data['horsepower'].isnull()].index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

# Soal 5

In [56]:
data_grup = data.groupby('origin')['horsepower'].mean()

In [57]:
data_grup

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64