Nama : Mahesa Tirta Panjalu <br>
Kode : PYTN-KS18-012

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../Dataset/melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Soal 1
Tampilkan statistik
deskriptif pada
variabel Rooms,
Distance, Landsize,
dan Price!

In [7]:
df[['Rooms', 'Distance', 'Landsize', 'Price']].describe()

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

# Soal 2
a) Berapa jumlah Rooms pada rumah yang harganya paling mahal? <br>
b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel Distance)
terdekat?<br>
c) Berapa rata-rata harga rumah yang luas tanahnya (variabel Landsize) 1
kali standar deviasi di atas rata-rata luas tanah?<br>
d) Berapa rentang (range) harga rumah (variabel Price) pada region
Southern Metropolitan?

In [21]:
indeks = df['Price'].idxmax()

In [22]:
jmh_kamar = df.at[indeks, 'Rooms']
print("Jumlah Rooms pada rumah yang harganya paling mahal adalah:", jmh_kamar)

Jumlah Rooms pada rumah yang harganya paling mahal adalah: 3

In [26]:
indeks = df['Distance'].idxmin()

harga = df.at[indeks, 'Price']

rata2 = df[df['Distance'] == df.at[indeks, 'Distance']]['Price'].mean()

print("Rata-rata harga rumah yang jarak ke CBD terdekat adalah:", rata2)

Rata-rata harga rumah yang jarak ke CBD terdekat adalah: 671166.6666666666

In [27]:
rata2 = df['Landsize'].mean()

stdland = df['Landsize'].std()

batas_atas = rata2 + stdland

rata2_harga = df[df['Landsize'] > batas_atas]['Price'].mean()

print("Rata-rata harga rumah dengan luas tanah di atas 1 kali standar deviasi di atas rata-rata luas tanah adalah:", rata2_harga)

Rata-rata harga rumah dengan luas tanah di atas 1 kali standar deviasi di atas rata-rata luas tanah adalah: 880776.6666666666

In [29]:
df_southern = df[df['Regionname'] == 'Southern Metropolitan']

harga_terendah = df_southern['Price'].min()
harga_tertinggi = df_southern['Price'].max()
rentang_harga = harga_tertinggi - harga_terendah

print("Rentang (range) harga rumah di region Southern Metropolitan adalah:", rentang_harga)

Rentang (range) harga rumah di region Southern Metropolitan adalah: 7869000.0

# Soal 3
Nilai outlier adalah nilai yang berada di bawah Q1 - (1.5 * IQR) atau di atas Q3 + (1.5 * IQR). <br>
a) Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)<br>
b) Hitung ada berapa nilai outlier pada kolom Price!

In [31]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

print("Q1 (Kuartil Pertama):", Q1)
print("Q3 (Kuartil Ketiga):", Q3)
print("IQR (Interquartile Range):", IQR)

Q1 (Kuartil Pertama): 650000.0
Q3 (Kuartil Ketiga): 1330000.0
IQR (Interquartile Range): 680000.0

In [32]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Price'] < lower_bound) | (df['Price'] > upper_bound)]

jumlah_outlier = len(outliers)

print("Jumlah nilai outlier pada kolom Price adalah:", jumlah_outlier)

Jumlah nilai outlier pada kolom Price adalah: 612

# Soal 4
Lakukan uji asumsi normalitas pada variabel harga rumah (Price)
menggunakan: <br>
a) Shapiro Wilk Test<br>
b) D’Agostino and Pearson’s Test

In [34]:
from scipy import stats

In [35]:
test_statistic, p_value = stats.shapiro(df['Price'])

C:\Users\mahesa\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [37]:
print("P-Value:", p_value)

P-Value: 0.0

In [39]:
alpha = 0.05
if p_value > alpha:
    print("Tidak ada bukti yang cukup untuk menolak asumsi normalitas (distribusi normal)")
else:
    print("Terdapat bukti yang cukup untuk menolak asumsi normalitas (distribusi tidak normal)")

Terdapat bukti yang cukup untuk menolak asumsi normalitas (distribusi tidak normal)

In [40]:
test_statistic, p_value = stats.normaltest(df['Price'])

In [41]:
print("P-Value:", p_value)

P-Value: 0.0

In [43]:
alpha = 0.05
if p_value > alpha:
    print("Tidak ada bukti yang cukup untuk menolak asumsi normalitas (distribusi normal)")
else:
    print("Terdapat bukti yang cukup untuk menolak asumsi normalitas (distribusi tidak normal)")

Terdapat bukti yang cukup untuk menolak asumsi normalitas (distribusi tidak normal)

# Soal 9
Uji hipotesis apakah metode pembelian/Method berkaitan
dengan tipe rumah/ Type (dependen) atau tidak saling berkaitan
(independen)! <br>

Hypothesis:<br>
• Ho : The two variables are independent<br>
• Ha : The two variables are dependent.

In [44]:
from scipy.stats import chi2_contingency

In [45]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [46]:
contingency_table = pd.crosstab(df['Method'], df['Type'])

In [47]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [48]:
print("P-Value:", p)

P-Value: 3.183702485154338e-22

In [49]:
alpha = 0.05 
if p < alpha:
    print("Terdapat bukti yang cukup untuk menolak hipotesis nol (Ho).")
    print("Artinya, Method berkaitan dengan Type.")
else:
    print("Tidak ada bukti yang cukup untuk menolak hipotesis nol (Ho).")
    print("Artinya, Method dan Type mungkin independen.")

Terdapat bukti yang cukup untuk menolak hipotesis nol (Ho).
Artinya, Method berkaitan dengan Type.

# Soal 10
Uji hipotesis apakah rata-rata harga rumah (Price) antar
Regionname berbeda ataukah sama! Diasumsikan persyaratan
statistik parametrik terpenuhi <br>

Hipotesis:<br>
• Ho : μ1 = μ2 = ... = μk (Rata-rata harga rumah antar Regionname
sama)<br>
• Ha : Setidaknya ada satu pasang Regionname yang rata-rata
harga rumahnya tidak sama, tapi kita tidak tahu yang mana

In [51]:
from scipy.stats import f_oneway

In [57]:
data_anova = df[['Regionname', 'Price']]
data_anova.head()

              Regionname      Price
0  Northern Metropolitan  1480000.0
1  Northern Metropolitan  1035000.0
2  Northern Metropolitan  1465000.0
3  Northern Metropolitan   850000.0
4  Northern Metropolitan  1600000.0

In [61]:
data_anova.pivot_table(index = 'Regionname', aggfunc='mean')

                                   Price
Regionname
Eastern Metropolitan        1.104080e+06
Eastern Victoria            6.999808e+05
Northern Metropolitan       8.981711e+05
Northern Victoria           5.948293e+05
South-Eastern Metropolitan  9.229438e+05
Southern Metropolitan       1.372963e+06
Western Metropolitan        8.664205e+05
Western Victoria            3.975234e+05

In [62]:
data_anova['Price'].mean()

1075684.079455081

In [63]:
data_anova['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64