# Conditional

## IF Statement

In [3]:
x = 0
y = 5
if x < y:  # Truthy
    print('yes')
if y < x:  # Falsy
    print('yes')
if x:  # Falsy
    print('yes')
if y:  # Truthy
    print('yes')
if 'aul' in 'grault':  # Truthy
    print('yes')
if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

yes
yes
yes

In [5]:
if 'foo' in ['bar', 'baz', 'qux']:
     print('Expression was true')
     print('Executing statement in suite')
     print('...')
     print('Done.')

print('After conditional')

After conditional

In [7]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20 :
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

### else and elif

In [1]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [8]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000
if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

### one line if statement

In [10]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [12]:
x=2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

### Conditional Expressions

If (conditional_expr) is true, (expr1) is returned and (expr2) is not evaluated.
If (conditional_expr) is false, (expr2) is returned and (expr1) is not evaluated.

In [15]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

### The Python pass Statement

In [16]:
if True:
    pass
print('foo')

foo

# Loops

## Python "while" Loops

In [17]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

### break and continue

In [21]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [21]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
Loop ended.

### The Else Clause

In [22]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [23]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [24]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))

    b = ['baz', 'qux']

    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### one-line while loops

In [25]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## The Python FOR Loops

In [26]:
a = ['foo', 'bar', 'baz']
for i in a:
 print(i)

foo
bar
baz

In [33]:
d = { "foo" : 1, "bar" : 2, "baz" : 3}
for k in d:
     print(k)
print("===========================")
for k in d:
     print(d[k])
print("===========================")      
for k in d.values():
     print(k)
print("===========================")       
for k, v in d.items(): 
     print(k, ":", v)

foo
bar
baz
===========================
1
2
3
===========================
1
2
3
foo : 1
bar : 2
baz : 3

In [2]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")
print("Temperaturnya adalah", result, "derajat")
degree

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 30F
Temperaturnya adalah -1 derajat

30